.vs/
AdvancedContentSecurity.TDS.Master/obj/
AdvancedContentSecurity.Core/obj/
AdvancedContentSecurity.Core/bin/
AdvancedContentSecurity.TDS.TestContent/obj/
AdvancedContentSecurity.UnitTests/bin/
AdvancedContentSecurity.UnitTests/obj/
AdvancedContentSecurity.Web/obj/
Lib/*.dll
Lib/*.xml
Lib/Social/*.dll
Lib/*.lic
AdvancedContentSecurity.sln.DotSettings.user
AdvancedContentSecurity.Web/bin/
AdvancedContentSecurity.Web/AdvancedContentSecurity.Web.csproj.user
