<!--

Purpose: This include file added the unrestricted access right

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
		<accessRights defaultProvider="config">
			<rights defaultType="Sitecore.Security.AccessControl.AccessRight, Sitecore.Kernel">
				<add patch:after="add[@name='item:write']" name="item:restricted" comment="Item is restricted." title="Restricted" />
        <add patch:after="add[@name='item:restricted']" name="item:rules" comment="Item applies rules security." title="Rules" />
			</rights>
		</accessRights>
  </sitecore>
</configuration>