<!--

Purpose: This include file added the unrestricted access right

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="AdvancedContentSecurity.RestrictedDeviceId" value="{73E718E6-70B4-4426-B94F-F705AB078448}" />
      <setting name="AdvancedContentSecurity.ConfigurationItem" value="{8B9F6F25-56F2-4A93-8C97-A0B63F54567A}"/>
    </settings>
  </sitecore>
</configuration>