<!--

Purpose: This include file added the unrestricted access right

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderLayout>
        <processor patch:instead="processor[@type='Sitecore.Pipelines.RenderLayout.SecurityCheck, Sitecore.Kernel']" type="AdvancedContentSecurity.Core.Pipelines.RenderLayout.SecurityCheck, AdvancedContentSecurity.Core" />
      </renderLayout>
    </pipelines>
  </sitecore>
</configuration>