<!--

Purpose: This include file adds the restricted device logic

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- The restricted device processor -->
      <httpRequestBegin>
        <processor type="AdvancedContentSecurity.Core.Pipelines.HttpRequestBegin.RestrictedDeviceProcessor, AdvancedContentSecurity.Core" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>